@font-face {
    font-family: creepy;
    src: url("Assets/Fonts/Creepy.woff") format("woff"),
         url("Assets/Fonts/Creepy.woff2") format("woff2");
}

@font-face {
    font-family: lunacy;
    src: url("Assets/Fonts/Lunacy.woff") format("woff"),
         url("Assets/Fonts/Lunacy.woff2") format("woff2");
}
*{
    box-sizing: border-box;

}
html{
    min-height: 100vh;
    max-height: 100vh;
    cursor: url("Assets/Cursors/Ghost.cur"),auto;
    touch-action: manipulation;
}
body{
    margin: 0;
    background: radial-gradient(#492502,#ba5f02);

}
.page-title{
    color: #f1740e;
    font-family: creepy,serif;
    font-weight: normal;
    text-align: center;
    font-size: 3em;
}
.game-info-container{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
}
.game-info{
    color: #f19041;
    font-size: 1.5em;
    font-family: lunacy,serif;
}
.game-container{
    display: grid;
    grid-template-columns: repeat(8,auto);
    grid-gap: 10px;
    margin: 30px;
    justify-content: center;
    perspective: 500px;
  
}
.card{
    position: relative;
    height: 115px;
    width: 92px;
  

}
.card:hover{
    cursor: url("Assets/Cursors/GhostHover.cur"),auto;
}
.card-face{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 14px;
    transition: transform 500ms ease-in-out;
}
.card.visible .card-back {
  transform: rotateY(180deg);
} 
.card.visible .card-front{
  transform: rotateY(0);
} 
.card.matched .card-value{
    animation: dance 1s linear infinite 500ms ;
}
@keyframes dance{
   0%,100% {
       transform: rotate(0);
   } 
   25% {
       transform: rotate(-30deg);
   }
   75% {
       transform: rotate(30deg);
   }
}
.overlay-text{
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   justify-content: center;
   align-items: center;
   z-index: 100;
   color: #f19041;
   font-family: creepy,serif;
   text-align: center;
}

.overlay-text.visible{
 display: flex;
 flex-direction: column;
 animation:overlay-grow 500ms forwards;
}
.overlay-text-small{
   font-size: 60px; 
}
@keyframes overlay-grow{
    from{
        background-color: black;
        font-size: 0;
    }
    to{
        font-size: 10em;
        background-color:rgba(0, 0, 0, 0.877) ;
    }
}

.card-back{
    background-color: rgb(0, 0, 0);
    transform: rotateY(0);
}

.card-front{
    transform: rotateY(180deg);
    background-color: #FFBB89;
}

.card-value{
    transform: scale(0.6);
    transition: transform 100ms ease-in-out;
}
.card-face:hover .card-value{/*card:hover also works but just to be semantic I have used the card-face*/
    transform: scale(0.7);
}
.cob-web{
    position: absolute;
    width: 36px;
    height: 36px;
    transition: width 100ms ease-in-out,height 100ms ease-in-out;
}
.card-face:hover .cob-web{
    width:40px ;
    height:40px ;
}
.cob-web-top-left{
    transform: rotate(270deg);
    top: 0;
    left: 0;
}
.cob-web-top-right{
    top: 0;
    right: 0;
}
.cob-web-bottom-left{
    transform: rotate(180deg);
    bottom: 0;
    left: 0;
}
.cob-web-bottom-right{
    transform: rotate(90deg);
    bottom: 0;
    right: 0;
}
.spider{
    align-self: flex-start;
    transform: translatey(-6px);
    transition: transform 100ms ease-in-out;
    width: 58px;
    height: 89px;
}
.card-back:hover .spider{
    transform: translateY(3px);
}



/* -----------------------overlay that has come after the click to start overlay --------------------*/
 .halloween-bg{
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100vh;
    top: 0;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.836);
    animation:opacity-grow 1000ms forwards;
} 
.name-visible{
    display: flex;
}
.halloween-ctn{
    background-color:rgb(114, 58, 6) ;
    font-family: creepy, serif;
    color: #f19041;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 29px 20px;
    width: 40%;
    font-size: 26px;
    line-height: 13px;
}
form{
    font-family:lunacy, serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.question-p{
    margin-bottom: 10px;
    font-size: 38px;
}
#name-input{
    padding:12px 12px;
    border-radius: 10px;
    border: none;
    background-color: rgb(0 0 0 / 38%);
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 7px;
    width: 98%;
}
.enter-btn{
    padding-top:6px;
    width: 97%;
    background-color:rgba(0, 0, 0, 0.63) ;
    color:rgb(180, 87, 11) ;
    font-size: 30px;
    font-family: lunacy, serif;
    border: none;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}
@keyframes opacity-grow{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
/* -----------------------------------end--------------------------------------------------------- */


/* ------------------overlay that has come after you click on the enter button-------------------- */
.rules-container{
    width: 70%;
    padding: 20px 17px;
    background-color: rgba(85, 46, 14, 0.877);
    border-radius: 10px;
    color: rgb(184, 114, 10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 40px;
}
.welcome-p{
    text-align: left;
    font-family: 'Irish Grover', cursive;
    font-size: 40px;
    padding-left:23px;
    line-height: 50px;

}
.score-p{
    font-family: 'Irish Grover', cursive;
    font-size: 40px;
    padding-left:23px;
    color: rgb(184, 114, 10);
}
.rules-p{
    font-size:25px ;
    font-family: 'Josefin Sans', sans-serif; 
    text-align: left;
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 0;

}
ul{
    font-family:'Josefin Sans', sans-serif;  
    margin-top: 0px;
}
#begin-btn{
    width: 30%;
    border-radius: 10px;
    border:none;
    padding: 10px 18px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin: auto ;
    cursor: pointer;
    background-color: rgb(184, 114, 10);
    font-size: 17px;
}

#restartBtn{
    width: 30%;
    border-radius: 10px;
    border:none;
    padding: 10px 18px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin: auto;
    cursor: pointer;
    background-color: rgb(184, 114, 10);
    font-size: 17px;
}
/* --------------------------------end------------------------------------------------------ */



@media (max-width:600px){
    .game-container{
        grid-template-columns: repeat(4,auto);
    }
    .game-info-container{
        flex-direction: column;
        align-items: center;
    }
    .card{
        height: 85px;
        width: 60px;
    }
    .cob-web{
        width: 20px;
        height: 20px;
    }
    .card-value{
        transform: scale(0.4);
    }
    .spider{
    width: 38px;
    height: 64px;
    }
    .wish{
        line-height: 50px;
        font-size: 50px;
        text-align: center;
        margin-bottom: 1px;
    }
    .question-p{
        line-height:30px;
    }
    .halloween-ctn{
        width: 80%;
        align-items: center;
        justify-content: center;
    }
    .rules-container{
        min-height: 80%;
        width: 80%;
        margin-top: 80px;
        line-height: 30px;
    }
    .welcome-p{
        font-size: 30px;
    }
    #begin-btn{
        width: 60%;
    }
}
